#page-new-occurrence {
  width: 100vw;
}

#page-new-occurrence header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-content {
  display: flex;
  align-items: center;
}

.patient-ball {
  margin-left: 2rem;
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.patient-ball p {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.patient h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #333333;
}

.patient p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: #9c9c9c;
}

.navigation-bar {
  background: #2b6cb0;
  width: 100vw;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 2rem;
}

.navigation-bar nav a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: white;
  margin-right: 1.2rem;
}

.navigation-bar-btns button {
  width: 90px;
  height: 36px;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.06);

  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 1.4px;
}

.back-btn {
  margin-right: 1rem;
}

.save-btn {
  background: #2c5282;
}

/* Formulários */

#page-new-occurrence main {
  margin: 1rem;
}

#page-new-occurrence main p {
  font-size: 12px;
  line-height: 1.33;
  color: #a0aec0;
  font-weight: 500;
}

#page-new-occurrence main h2 {
  margin-top: 2rem;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.36;
  color: #2b6cb0
}

#page-new-occurrence main form {
  margin-top: 1rem;
  width: 100%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.06);
}

#page-new-occurrence legend {
  background-color: #e2e8f0;
  display: flex;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #718096;
  height: 2rem;
  padding-left: 1rem;
  align-items: center;
}

#page-new-occurrence label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  
}

