* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

form, fieldset, legend {
  border: 0;
}

input, label, select, button {
  margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
}